.category-page {
  padding: 20px;
}

/* HERO (banner arriba) */
.category-hero {
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
  padding: 40px;
  border-radius: 16px;
  margin-bottom: 30px;
  position: relative;
}

.category-hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.category-hero p {
  opacity: 0.8;
}

/* BOTÓN VOLVER */
.back-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #3b82f6;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.back-btn:hover {
  background: #2563eb;
}

/* GRID */
.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 25px;
}

/* EFECTO NETFLIX 🔥 */
.category-grid .card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-grid .card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

.filter-info {

  margin: 30px 0;

  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 20px;

  flex-wrap: wrap;

}

.filter-info p {

  font-size: 18px;

  color: #444;

}

.filter-info strong {

  color: #1e88e5;

}

.clear-filter {

  background: linear-gradient(
    135deg,
    #42a5f5,
    #1e88e5
  );

  border: none;

  color: white;

  padding: 12px 22px;

  border-radius: 12px;

  cursor: pointer;

  font-size: 15px;

  font-weight: 600;

  transition: 0.3s;

  box-shadow: 0 4px 12px rgba(
    30,
    136,
    229,
    0.25
  );

}

.clear-filter:hover {

  transform: translateY(-2px);

  opacity: 0.95;

}

.empty-category {

  margin-top: 50px;

  text-align: center;

  background: white;

  padding: 40px;

  border-radius: 20px;

  box-shadow: 0 6px 20px rgba(
    0,
    0,
    0,
    0.08
  );

}

.empty-category h2 {

  color: #666;

}